.turma-container {
    padding: 20px;
}

.pesquisar {
    display: flex;
    align-items: center;
}

.lista-turmas {
    margin-top: 20px;
}

.turma {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
